<template>
  <b-container>
    <b-row>
      <b-col class="pt-1">
        <b-alert
          :variant="alert.variant"
          dismissible
          :show="alert.show"
          @dismissed="alert.show = false"
        >
          {{ alert.message }}
        </b-alert>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="4" class="pt-2">
        <h2>Alta de soci</h2>
      </b-col>
    </b-row>
    <b-form @submit="onSubmit">
      <b-form-group id="nameInputGroup" label="Nom:" label-for="nameInput">
        <b-form-input
          id="nameInput"
          type="text"
          v-model="form.name"
          required
          placeholder="Escriu nom"
        >
        </b-form-input>
      </b-form-group>
      <b-form-group
        id="fsurnameInputGroup"
        label="Primer cognom:"
        label-for="fsurnameInput"
      >
        <b-form-input
          id="fsurnameInput"
          type="text"
          v-model="form.fsurname"
          required
          placeholder="Escriu primer cognom"
        >
        </b-form-input>
      </b-form-group>
      <b-form-group
        id="ssurnameInputGroup"
        label="Segon cognom:"
        label-for="ssurnameInput"
      >
        <b-form-input
          id="ssurnameInput"
          type="text"
          v-model="form.ssurname"
          required
          placeholder="Escriu segon cognom"
        >
        </b-form-input>
      </b-form-group>
      <b-form-group
        id="typeInputGroup"
        label="Tipus de soci"
        label-for="typeInput"
      >
        <b-form-select
          id="typeInput"
          v-model="form.type"
          :options="options"
          class="mb-3"
        />
      </b-form-group>
      <b-form-group
        id="observationsInputGroup"
        label="Observacions:"
        label-for="observationsInput"
      >
        <b-form-textarea
          id="observationsInput"
          v-model="form.observations"
          placeholder="Observacions"
          :rows="3"
          :max-rows="6"
        >
        </b-form-textarea>
      </b-form-group>
      <b-button type="submit" variant="primary">Registrar</b-button>
    </b-form>
  </b-container>
</template>

<script>
import axios from "axios";

export default {
  name: "NewUser",
  props: {
    msg: String
  },
  data() {
    return {
      form: {
        name: "",
        fsurname: "",
        ssurname: "",
        type: 0,
        observations: ""
      },
      alert: {
        show: false,
        variant: "danger",
        message: ""
      },
      options: [
        {
          value: 0,
          text: "Soci estàndard"
        },
        {
          value: 1,
          text: "Soci túnel radio"
        },
        {
          value: 2,
          text: "Soci fibra i altres"
        }
      ]
    };
  },
  methods: {
    async onSubmit(evt) {
      evt.preventDefault();
      try {
        await axios.post(
          "user",
          this.form
        );
        this.alert.variant = "success";
        this.alert.message = "Petició enviada correctament";
        this.alert.show = true;
      } catch (err) {
        this.alert.variant = "danger";
        this.alert.message = err.msg;
        this.alert.show = true;
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
